{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | detail.title
{% endblock %}

{% block body %}
    <h1>Wish : {{ detail.title }}</h1>
    <div>Par : {{ detail.author }}</div>
    <div>Description :{{ detail.description }}</div>
    <div>Create the : {{ detail.dateCreated|date}}</div>

{% endblock %}

